Banque-SOAPClient/Service References/ServiceReference1/BanqueServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BanqueServiceService" targetNamespace="http://service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addCompte" type="tns:addCompte" />
      <xs:element name="addCompteResponse" type="tns:addCompteResponse" />
      <xs:element name="getCompte" type="tns:getCompte" />
      <xs:element name="getCompteResponse" type="tns:getCompteResponse" />
      <xs:element name="listComptes" type="tns:listComptes" />
      <xs:element name="listComptesResponse" type="tns:listComptesResponse" />
      <xs:element name="retirer" type="tns:retirer" />
      <xs:element name="retirerResponse" type="tns:retirerResponse" />
      <xs:element name="verser" type="tns:verser" />
      <xs:element name="verserResponse" type="tns:verserResponse" />
      <xs:element name="virement" type="tns:virement" />
      <xs:element name="virementResponse" type="tns:virementResponse" />
      <xs:complexType name="addCompte">
        <xs:sequence>
          <xs:element name="solde" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCompteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:compte" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="compte">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:long" />
          <xs:element minOccurs="0" name="date_creation" type="xs:dateTime" />
          <xs:element name="solde" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="virement">
        <xs:sequence>
          <xs:element minOccurs="0" name="code1" type="xs:long" />
          <xs:element minOccurs="0" name="code2" type="xs:long" />
          <xs:element name="montant" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="virementResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listComptes">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listComptesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compte" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retirer">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:long" />
          <xs:element name="arg1" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retirerResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getCompte">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCompteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:compte" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="verser">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:long" />
          <xs:element name="montant" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="verserResponse">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addCompte">
    <wsdl:part name="parameters" element="tns:addCompte" />
  </wsdl:message>
  <wsdl:message name="virement">
    <wsdl:part name="parameters" element="tns:virement" />
  </wsdl:message>
  <wsdl:message name="listComptesResponse">
    <wsdl:part name="parameters" element="tns:listComptesResponse" />
  </wsdl:message>
  <wsdl:message name="verserResponse">
    <wsdl:part name="parameters" element="tns:verserResponse" />
  </wsdl:message>
  <wsdl:message name="virementResponse">
    <wsdl:part name="parameters" element="tns:virementResponse" />
  </wsdl:message>
  <wsdl:message name="retirerResponse">
    <wsdl:part name="parameters" element="tns:retirerResponse" />
  </wsdl:message>
  <wsdl:message name="listComptes">
    <wsdl:part name="parameters" element="tns:listComptes" />
  </wsdl:message>
  <wsdl:message name="retirer">
    <wsdl:part name="parameters" element="tns:retirer" />
  </wsdl:message>
  <wsdl:message name="addCompteResponse">
    <wsdl:part name="parameters" element="tns:addCompteResponse" />
  </wsdl:message>
  <wsdl:message name="getCompteResponse">
    <wsdl:part name="parameters" element="tns:getCompteResponse" />
  </wsdl:message>
  <wsdl:message name="getCompte">
    <wsdl:part name="parameters" element="tns:getCompte" />
  </wsdl:message>
  <wsdl:message name="verser">
    <wsdl:part name="parameters" element="tns:verser" />
  </wsdl:message>
  <wsdl:portType name="BanqueService">
    <wsdl:operation name="addCompte">
      <wsdl:input name="addCompte" message="tns:addCompte" />
      <wsdl:output name="addCompteResponse" message="tns:addCompteResponse" />
    </wsdl:operation>
    <wsdl:operation name="virement">
      <wsdl:input name="virement" message="tns:virement" />
      <wsdl:output name="virementResponse" message="tns:virementResponse" />
    </wsdl:operation>
    <wsdl:operation name="listComptes">
      <wsdl:input name="listComptes" message="tns:listComptes" />
      <wsdl:output name="listComptesResponse" message="tns:listComptesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retirer">
      <wsdl:input name="retirer" message="tns:retirer" />
      <wsdl:output name="retirerResponse" message="tns:retirerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCompte">
      <wsdl:input name="getCompte" message="tns:getCompte" />
      <wsdl:output name="getCompteResponse" message="tns:getCompteResponse" />
    </wsdl:operation>
    <wsdl:operation name="verser">
      <wsdl:input name="verser" message="tns:verser" />
      <wsdl:output name="verserResponse" message="tns:verserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BanqueServiceServiceSoapBinding" type="tns:BanqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCompte">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addCompte">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addCompteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="virement">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="virement">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="virementResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listComptes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listComptes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listComptesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retirer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="retirer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retirerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompte">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCompte">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCompteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="verser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="verserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BanqueServiceService">
    <wsdl:port name="BanqueServicePort" binding="tns:BanqueServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/BanqueWeb/BanqueService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>